<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scott Wang的网址导航</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Scott Wang的网址导航">
    <meta name="description" content="Scott Wang的网址导航，个人网址导航">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__static/index/css/style.css">
    <style type="text/css">
        body, td, th {
            font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Verdana, sans-serif;
        }

        /*设置导航首页背景图片*/
        body {
            background: #EDEDED url("__PUBLIC__static/index/images/bg.jpg") fixed;
        }
    </style>
</head>
<body>
<div class="nav_bar">
    <div class="wrap"><span class="domain">Scott Wang的网址导航</span>
        <div class="nav_bar_r">snav.54yongf.com</div>
    </div>
</div>

{$links_html}
<br><br>

<div style="text-align: center"><span style="font-size: 14px; color: #FFFFFF;"><span
        style="display: inline! important; float: none; word-spacing: 0; font: 16px arial; text-transform: none; color: #FFFFFF; text-indent: 0; white-space: normal; letter-spacing: normal; text-align: center; ">&copy;1996-2016&nbsp;blog.54yongf.com<span
        class="Apple-converted-space">&nbsp;</span></span></span><a target="_blank" href="http://blog.54yongf.com/"
                                                                    style="word-spacing: 0; font: 11px arial; text-transform: none; color: #FFFFFF; text-indent: 0; white-space: normal; letter-spacing: normal; text-align: center; text-decoration: underline; "><span
        style="font-size: 16px; color: #FFFFFF;">使用导航前必读</span></a><span style="font-size: 14px"><span
        style="display: inline! important; float: none; word-spacing: 0; font: 11px arial; text-transform: none; color: #FFFFFF; text-indent: 0; white-space: normal; letter-spacing: normal; text-align: center; "><span
        class="Apple-converted-space">&nbsp;</span></span></span>
</div>
<div style="text-align: center">
    <span
            style="word-spacing: 0; font: 16px arial; text-transform: none; color: #FFFFFF; text-indent: 0; white-space: normal; letter-spacing: normal; text-align: center; ">赣ICP证2008-1号</span>
</div>
<br>

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

</body>
</html>